[submodule "tensor/third-party/boost/config"]
	path = tensor/third-party/boost/config
	url = https://github.com/boostorg/config.git
[submodule "tensor/third-party/boost/assert"]
	path = tensor/third-party/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "tensor/third-party/boost/core"]
	path = tensor/third-party/boost/core
	url = https://github.com/boostorg/core.git
[submodule "tensor/third-party/boost/container"]
	path = tensor/third-party/boost/container
	url = https://github.com/boostorg/container.git
[submodule "tensor/third-party/boost/system"]
	path = tensor/third-party/boost/system
	url = https://github.com/boostorg/system.git
[submodule "tensor/third-party/boost/describe"]
	path = tensor/third-party/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "tensor/third-party/boost/mp11"]
	path = tensor/third-party/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "tensor/third-party/boost/static_assert"]
	path = tensor/third-party/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "tensor/third-party/boost/throw_exception"]
	path = tensor/third-party/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "tensor/third-party/boost/container_hash"]
	path = tensor/third-party/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "tensor/third-party/boost/endian"]
	path = tensor/third-party/boost/endian
	url = https://github.com/boostorg/endian.git
[submodule "tensor/third-party/boost/io"]
	path = tensor/third-party/boost/io
	url = https://github.com/boostorg/io.git
[submodule "tensor/third-party/boost/json"]
	path = tensor/third-party/boost/json
	url = https://github.com/boostorg/json.git
