[submodule "tensor/third_party/boost-json"]
	path = tensor/third_party/boost-json
	url = https://github.com/boostorg/json.git
[submodule "tensor/third_party/boost-container"]
	path = tensor/third_party/boost-container
	url = https://github.com/boostorg/container.git
[submodule "tensor/third_party/boost-assert"]
	path = tensor/third_party/boost-assert
	url = https://github.com/boostorg/assert.git
[submodule "tensor/third_party/boost-config"]
	path = tensor/third_party/boost-config
	url = https://github.com/boostorg/config.git
[submodule "tensor/third_party/boost-intrusive"]
	path = tensor/third_party/boost-intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "tensor/third_party/boost-container_hash"]
	path = tensor/third_party/boost-container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "tensor/third_party/boost-describe"]
	path = tensor/third_party/boost-describe
	url = https://github.com/boostorg/describe.git
[submodule "tensor/third_party/boost-type_traits"]
	path = tensor/third_party/boost-type_traits
	url = https://github.com/boostorg/type_traits.git
